<%= render 'template/user', user: @user %>
<%= render 'template/book', book: @book %>

<h1>Books</h1>
<% unless @user.id == current_user.id %>
  <% if(current_user.following? @user) && (@user.following? current_user) %>
    <% if @isRoom == true %>
      <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
         <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
         <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat" %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td></td><!--リンクでuserのshowページ-->
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
   </tbody>
</table>

<h3>投稿数の前日比・前週比</h3>
 <div class="table_width">
   <table class="table table-bordered">
     <thead>
       <tr>
         <th>今日の投稿</th>
         <th>昨日の投稿</th>
         <th>前日比</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><%= @today_book.count %></td>
         <td><%= @yesterday_book.count %></td>
        <% if @yesterday_book.count == 0 %>
         <td>前日の投稿は無し</td>
        <% else %>
         <td><% @the_day_before = @today_book.count / @yesterday_book.count %>
         <%=(@the_day_before * 100).round %>%</td>
        <% end %>
       </tr>
     </tbody>
   </table>

   <table class="table table-bordered">
       <thead>
           <tr>
               <th>今週の投稿</th>
               <th>先週の投稿</th>
               <th>先週比</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td><%= @this_week_book.count %></td>
               <td><%= @last_week_book.count %></td>
              <% if @last_week_book.count == 0 %>
              <td>先週の投稿は無し</td>
             <% else %>
              <td><% @the_week_before = @this_week_book.count / @last_week_book.count %>
              <%= (@the_week_before * 100).round %>%</td>
             <% end %>
           </tr>
       </tbody>
   </table>
 </div>