<%= render 'template/user', user: @user %>
<%= render 'template/book', book: @book %>

<h1>Books</h1>
<% unless @user.id == current_user.id %>
  <% if(current_user.following? @user) && (@user.following? current_user) %>
    <% if @isRoom == true %>
      <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
         <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
         <% end %>
        <%= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat" %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td></td><!--リンクでuserのshowページ-->
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
   </tbody>
</table>
<h2>今日の投稿数</h2>
<%= current_user.books.where('created_at > ?', Date.today).count %>